## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [29]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [30]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[95, 17, 21, 43, 56, 23, 20, 22, 42, 3, 80, 84, 66, 63, 52, 54, 11, 71, 92, 50, 83, 91, 79, 88, 4, 70, 15, 94, 64, 38, 87, 81, 33, 30, 74, 72, 62, 59, 89, 12, 10, 47, 16, 90, 26, 53, 67, 60, 58, 1, 75, 39, 18, 61, 14, 13, 51, 65, 36, 27, 69, 82, 2, 37, 44, 68, 8, 97, 7, 0, 57, 32, 98, 96, 24, 6, 48, 73, 49, 9]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
"""It has 80 len because they are unique values"""

80

'It has 80 len because they are unique values'

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[0, 27, 77, 67, 47, 41, 29, 3, 14, 19, 83, 0, 81, 41, 33, 4, 35, 65, 100, 34, 5, 87, 95, 30, 24, 94, 24, 48, 70, 16, 80, 98, 94, 2, 56, 97, 13, 68, 87, 5, 98, 63, 33, 28, 2, 67, 87, 31, 80, 45, 36, 7, 1, 90, 47, 19, 37, 4, 6, 70, 74, 57, 36, 49, 65, 37, 67, 33, 60, 91, 19, 73, 61, 59, 44, 88, 39, 50, 37, 24]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
"""It may not be 80 because values aren't unique"""

56

"It may not be 80 because values aren't unique"

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [34]:
# Your code heres
set1_l = list(set1)
set2_l = list(set2)
set3 = [i for i in set1_l if i not in set2_l]
set3 = set(set3)
print(set3)

{8, 9, 10, 11, 12, 15, 17, 18, 20, 21, 22, 23, 26, 32, 38, 42, 43, 51, 52, 53, 54, 58, 62, 64, 66, 69, 71, 72, 75, 79, 82, 84, 89, 92, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [35]:
# Your code here
set4 = [i for i in set2_l if i not in set1_l]
set4 = set(set4)
print(set4)

{34, 35, 100, 5, 41, 45, 77, 19, 28, 29, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [36]:
# Your code here
set5 = [i for i in set2_l if i  in set1_l]
set5 = set(set5)
print(set5)

{0, 1, 2, 3, 4, 6, 7, 13, 14, 16, 24, 27, 30, 33, 36, 37, 39, 44, 47, 48, 49, 50, 56, 57, 59, 60, 61, 63, 65, 67, 68, 70, 73, 74, 80, 81, 83, 87, 88, 90, 91, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [37]:
# Your code here
"""len(set5) + len(set4) == len(set2)
len(set5) + len(set3) == len(set1)"""
print(len(set5) + len(set4) == len(set2))
print(len(set5) + len(set3) == len(set1))

True
True

#### Create an empty set called `set6`.

In [38]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6.update(set5)
set6.update(set3)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 30, 32, 33, 36, 37, 38, 39, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [40]:
# Your code here
print(set6 == set1)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [42]:
# Your code here
set_union_1 = set3.union(set4, set5)
set_union_2 = set1.union(set2)
print(set_union_1 == set_union_2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [43]:
# Your code here
"""There is no such thing as first element in a set so pop just remove a random one. If we want the first we have
to convert it to a list"""
set_list = list(set1)
set_list.pop(0)
set1 = set(set_list)
print(set1)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 30, 32, 33, 36, 37, 38, 39, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98}

In [44]:
print(len(set1))

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)
print(len(set1))

{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 30, 32, 33, 36, 37, 38, 42, 43, 44, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 80, 82, 83, 84, 87, 88, 90, 92, 94, 95, 96, 97, 98}
64